.list-view {
  padding: 0.5em;
}

.grid-view {
  display: grid;
  grid-template-columns: auto auto auto;
}

.list-view .game-entry {
  display: grid;
  grid-template-columns: 40% 60%;
  border-radius: 0.3rem;
  border: 1px solid black;
  width: 100%;
  height: 15vh;
  min-height: 150px;
  margin-bottom: 1em;
}

.grid-view .game-entry {
  position: relative;
  border-radius: 0.3rem;
  border: 1px solid black;
  width: auto;
  height: 15vh;
  min-height: 100px;
  margin: 0.5em;
}

.list-view .game-img {
  width: 100%;
  max-height: 100%;
  min-height: 150px;
  object-fit: cover;
  border-radius: 0.3rem 0px 0px 0.3rem;
}

.grid-view .game-img {
  position: relative;
  width: 100%;
  max-height: 100%;
  min-height: 100px;
  height: 15vh;
  object-fit: cover;
  border-radius: 0.3rem;
  z-index: -1;
}

.list-view .game-text {
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  min-height: 0;
}

.grid-view .game-text {
  color: white;
  font-family: sans-serif;
}

.list-view .game-title {
  text-transform: capitalize;
}

.grid-view .game-title {
  position: absolute;
  left: 0;
  top: 0;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 150%;
}

.list-view .game-description {
  overflow: auto;
  margin: 0 1em;
}

.grid-view .game-description {
  display: none;
}

/*MEDIA QUERIES*/

@media only screen and (min-width: 1200px) {
  .list-view .games-container {
    width: 1200px;
    margin: auto;
  }
}

@media only screen and (max-width: 300px) {
  .grid-view .games-container {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 600px) {
  .list-view .game-entry {
    grid-template-columns: 40% 60%;
    height: 10vh;
    min-height: 100px;
  }
  .list-view .game-img {
    min-height: 100px;
  }
  .list-view .game-description {
    display: none;
  }
  .list-view .game-title {
    font-size: 80%;
    overflow: auto;
  }
  .grid-view .game-title {
    font-size: 100%;
  }
  .grid-view .games-container {
    grid-template-columns: auto auto;
  }
}
@media only screen and (min-width: 900px) {
  .grid-view .games-container {
    grid-template-columns: auto auto auto auto;
    width: 900px;
    margin: auto;
  }
}
